@page "/map";

@using Implemap.Client.Services

@inject GeoJsonService _geoJsonService;

<PageTitle>Mapbox | Implemap</PageTitle>


<h1>My cool list</h1>

@foreach (var json in GeoJson)
{
    <p>Json: @json</p>
}

@code {
    private List<string> GeoJson { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        GeoJson = await _geoJsonService.Get();
    }
}