@page "/map";

@using Implemap.Client.Services

@inject GeoJsonService _geoJsonService;
@inject IJSRuntime JS

<PageTitle>Mapbox | Implemap</PageTitle>


<h1>My cool list</h1>

@foreach (var json in GeoJson)
{
    <p>Json: @json</p>
}

<div id='map' style="height: 600px">Mapbox Loads here</div>

@code {
    private List<string> GeoJson { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        GeoJson = await _geoJsonService.Get();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("loadMapBox");
    }    
}
