@page "/map";

@using Implemap.Client.Services
@using Implemap.Client.Models

@inject ILocationService _locationService;
@inject IMapboxService _mapboxService;
@inject IJSRuntime _js

<PageTitle>Mapbox | Implemap</PageTitle>

<div id="map" class="h-100">
    @*
        The Mapbox library loads within this `<div />` element.
        So, if you would like to apply specific styles to the map [or box :)],
        then you should that on this element.
    *@
</div>

@code {
    private List<Location> Locations { get; set; } = new();

    private async void AddLocationToMap(Location location)
    {
        await _js.InvokeVoidAsync("addLocationToMap", location);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var token = _mapboxService.GetMapboxToken();
            await _js.InvokeVoidAsync("loadMapBox", token);
            /* for [WORKSHOP STEP 6: MARKERS]
            Locations = await _locationService.Get();
            Locations.ForEach(AddLocationToMap);
            */
        }
    }

}